:root {
    --clr-primary-light-cyan: hsl(193, 38%, 86%);
    --clr-primary-neon-green: hsl(150, 100%, 66%);

    --clr-neutral-grayish-blue: hsla(217, 19%, 38%, 0.4);
    --clr-neutral-dark-grayish-blue: hsl(220, 22%, 16%);
}

*{
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}

/*
Layout

The designs were created to the following widths:

- Mobile: 375px
- Desktop: 1440px
- Font size (quote): 28px

 */
html {
    /* 62.5% of 16px base font-size is 10px */
    font-size: 62.5%;
}
body {
    
    min-height: 100vh;
    width: 100%;
    font-family: 'Manrope', sans-serif;
    background-color: var(--clr-neutral-dark-grayish-blue);
    

    display: flex;
    justify-content: center;
    align-items: center;
}


img {
    display: block;
    max-width: 100%;
}

.container {
    background-color: var(--clr-neutral-grayish-blue);
    width: 92%;
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: center;
    flex-basis: auto;
    border-radius: 1em;
}

.container .card {
    
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;

    padding: 4em 2em 6.4em 2em;

    position: relative;
}

.container .card .advice-id {
    font-size: 1.1rem;
    letter-spacing: 0.35rem;
    color: var(--clr-primary-neon-green);
    text-transform: uppercase;
    
}

.container .card .advice-text {
    font-size: 2.35rem;
    font-weight: 800;
    color: var(--clr-primary-light-cyan);
    text-align: center;
    margin-top: 2.5em;
    line-height: 141%;
}

.container .card .desktop {
    display: none;
}

.container .card .pattern-img {
    margin-top: 2.4em;
}

.container .card .btn {
    background-color: var(--clr-primary-neon-green);
    padding: 2em;
    border: none;
    border-radius: 50%;
    position: absolute;
    bottom: 0;
    transform: translateY(50%);
    cursor: pointer;
}

.container .card .btn:hover,
.container .card .btn:focus {
    box-shadow: 0 0 3em hsla(150, 100%, 66%, 0.75);
}

@media screen and (min-width: 700px) {
    .container {
        width: 70%;
    }

    .container .card {
        padding: 4.8em 4.5em 7em 4.5em;
        
    }
}

@media screen and (min-width: 996px) {
    .container {
        width: 60%;
    }
}

@media screen and (min-width: 1200px) {

    .container {
        width: 50%;
    }

    .container .card .advice-id {
        font-size: 1.2rem;
        letter-spacing: 0.47rem;
    }

    .container .card .advice-text {
        font-size: 2.8rem;
    }

/* For Desktop 1440px */
@media screen and (min-width: 1440px) {

    .container .card .mobile {
        display: none;
    }

    .container .card .desktop {
        display: block;
    }

    .container .card .pattern-image {
        margin-top: 3.8em;
    }
}












/*.attribution { font-size: 11px; text-align: center; }
.attribution a { color: hsl(228, 45%, 44%); }
*/